<div id="paties-new">
	<div class="container">
		<h1>新規パーティー</h1>
		<%= render 'form', party: @party %>
		<div class="button_area">
			<div class="original_button">
				<%= link_to 'Back', parties_path %>
			</div>
		</div>
	</div>
</div>
