<%= render 'form', party: @party %>
<div class="button_area">
	<div class="original_button">
		<%= link_to 'Edit', edit_party_path(@party) %>
	</div>
	<div class="original_button">
		<%= link_to 'Back', parties_path %>
	</div>
</div>