<!-- PC用レイアウト -->
<section id="search-encounter-pc">
    <div class="bk-japan-map" >
        <div id="tokyo" class="trg_show_list search-encounter-block">
            <div class="search-encounter-title">
                <b>東京</b>
            </div>      
            <ul>
                <li><a href="#ここにURLを入れてください">新宿区</a></li>
                <li><a href="#ここにURLを入れてください">渋谷区</a></li>
                <li><a href="#ここにURLを入れてください">港区</a></li>
            </ul>
        </div>

        <div id="kanto" class="trg_show_list search-encounter-block">
            <div class="search-encounter-title">
                関東
            </div>      
            <ul>
                <li><a href="#ここにURLを入れてください">埼玉県</a></li>
                <li><a href="#ここにURLを入れてください">千葉県</a></li>
                <li><a href="#ここにURLを入れてください">茨城県</a></li>
                <li><a href="#ここにURLを入れてください">栃木県</a></li>
                <li><a href="#ここにURLを入れてください">群馬県</a></li>
            </ul>
        </div>

        <div id="hokkaido" class="trg_show_list search-encounter-block">
            <div class="search-encounter-title">
                北海道
            </div>      
            <ul>
                <li><a href="#ここにURLを入れてください">北海道</a></li>
            </ul>
        </div>
        
        <div id="touhoku" class="trg_show_list search-encounter-block">
            <div class="search-encounter-title">
                東北
            </div>
            <ul>
                <li><a href="#ここにURLを入れてください">青森県</a></li>
                <li><a href="#ここにURLを入れてください">秋田県</a></li>
                <li><a href="#ここにURLを入れてください">山形県</a></li>
                <li><a href="#ここにURLを入れてください">岩手県</a></li>
                <li><a href="#ここにURLを入れてください">宮城県</a></li>
                <li><a href="#ここにURLを入れてください">福島県</a></li>
            </ul>
        </div>

        <div id="hokuriku" class="trg_show_list search-encounter-block">
            <div class="search-encounter-title">
                北陸
            </div>
            <ul>
                <li><a href="#ここにURLを入れてください">新潟県</a></li>
                <li><a href="#ここにURLを入れてください">富山県</a></li>
                <li><a href="#ここにURLを入れてください">石川県</a></li>
                <li><a href="#ここにURLを入れてください">福井県</a></li>
                <li><a href="#ここにURLを入れてください">山梨県</a></li>
                <li><a href="#ここにURLを入れてください">長野県</a></li>
            </ul>
        </div>

        <div id="toukai" class="trg_show_list search-encounter-block">
            <div class="search-encounter-title">
                東海
            </div>
            <ul>
                <li><a href="#ここにURLを入れてください">愛知県</a></li>
                <li><a href="#ここにURLを入れてください">静岡県</a></li>
                <li><a href="#ここにURLを入れてください">岐阜県</a></li>
                <li><a href="#ここにURLを入れてください">三重県</a></li>
            </ul>
        </div>

        <div id="kansai" class="trg_show_list search-encounter-block">
            <div class="search-encounter-title">
                関西
            </div>
            <ul>
                <li><a href="#ここにURLを入れてください">大阪府</a></li>
                <li><a href="#ここにURLを入れてください">京都府</a></li>
                <li><a href="#ここにURLを入れてください">滋賀県</a></li>
                <li><a href="#ここにURLを入れてください">兵庫県</a></li>
                <li><a href="#ここにURLを入れてください">奈良県</a></li>
                <li><a href="#ここにURLを入れてください">和歌山県</a></li>
            </ul>
        </div>

        <div id="sikoku" class="trg_show_list search-encounter-block">
            <div class="search-encounter-title">
                四国
            </div>
            <ul>
                <li><a href="#ここにURLを入れてください">徳島県</a></li>
                <li><a href="#ここにURLを入れてください">香川県</a></li>
                <li><a href="#ここにURLを入れてください">愛媛県</a></li>
                <li><a href="#ここにURLを入れてください">高知県</a></li>
            </ul>
        </div>


        <div id="tyugoku" class="trg_show_list search-encounter-block">
            <div class="search-encounter-title">
                中国
            </div>
            <ul>
                <li><a href="#ここにURLを入れてください">岡山県</a></li>
                <li><a href="#ここにURLを入れてください">広島県</a></li>
                <li><a href="#ここにURLを入れてください">鳥取県</a></li>
                <li><a href="#ここにURLを入れてください">島根県</a></li>
                <li><a href="#ここにURLを入れてください">山口県</a></li>
            </ul>
        </div>

        <div id="kyusyu" class="trg_show_list search-encounter-block">
            <div class="search-encounter-title">
                九州
            </div>
            <ul>
                <li><a href="#ここにURLを入れてください">福岡県</a></li>
                <li><a href="#ここにURLを入れてください">大分県</a></li>
                <li><a href="#ここにURLを入れてください">宮城県</a></li>
                <li><a href="#ここにURLを入れてください">鹿児島県</a></li>
                <li><a href="#ここにURLを入れてください">長崎県</a></li>
                <li><a href="#ここにURLを入れてください">佐賀県</a></li>
                <li><a href="#ここにURLを入れてください">熊本県</a></li>
            </ul>
        </div>

        <div id="okinawa" class="trg_show_list search-encounter-block">
            <div class="search-encounter-title">
                沖縄
            </div>
            <ul>
                <li><a href="#ここにURLを入れてください">沖縄県</a></li>
            </ul>
        </div>
        <div class="clear-fix-se"></div>
    </div>




























    <div class="map-japan-table">
        <div id="tokyo" class="map-japan-table-block">
            <div class="search-encounter-title"><b>東京</b></div>
            <ul>
                <li><a href="#ここにURLを入れてください">新宿区</a></li>
                <li><a href="#ここにURLを入れてください">渋谷区</a></li>
                <li><a href="#ここにURLを入れてください">港区</a></li>
            </ul>
        </div>

        <div id="kanto" class="map-japan-table-block">
            <div class="search-encounter-title">関東</div>      
            <ul>
                <li><a href="#ここにURLを入れてください">埼玉県</a></li>
                <li><a href="#ここにURLを入れてください">千葉県</a></li>
                <li><a href="#ここにURLを入れてください">茨城県</a></li>
                <li><a href="#ここにURLを入れてください">栃木県</a></li>
                <li><a href="#ここにURLを入れてください">群馬県</a></li>
            </ul>
        </div>

        <div id="hokkaido" class="map-japan-table-block">
            <div class="search-encounter-title">北海道</div>      
            <ul>
                <li><a href="#ここにURLを入れてください">北海道</a></li>
            </ul>
        </div>
        
        <div id="touhoku" class="map-japan-table-block">
            <div class="search-encounter-title">東北</div>
            <ul>
                <li><a href="#ここにURLを入れてください">青森県</a></li>
                <li><a href="#ここにURLを入れてください">秋田県</a></li>
                <li><a href="#ここにURLを入れてください">山形県</a></li>
                <li><a href="#ここにURLを入れてください">岩手県</a></li>
                <li><a href="#ここにURLを入れてください">宮城県</a></li>
                <li><a href="#ここにURLを入れてください">福島県</a></li>
            </ul>
        </div>

        <div id="hokuriku" class="map-japan-table-block">
            <div class="search-encounter-title">北陸</div>
            <ul>
                <li><a href="#ここにURLを入れてください">新潟県</a></li>
                <li><a href="#ここにURLを入れてください">富山県</a></li>
                <li><a href="#ここにURLを入れてください">石川県</a></li>
                <li><a href="#ここにURLを入れてください">福井県</a></li>
                <li><a href="#ここにURLを入れてください">山梨県</a></li>
                <li><a href="#ここにURLを入れてください">長野県</a></li>
            </ul>
        </div>

        <div id="toukai" class="map-japan-table-block">
            <div class="search-encounter-title">東海</div>
            <ul>
                <li><a href="#ここにURLを入れてください">愛知県</a></li>
                <li><a href="#ここにURLを入れてください">静岡県</a></li>
                <li><a href="#ここにURLを入れてください">岐阜県</a></li>
                <li><a href="#ここにURLを入れてください">三重県</a></li>
            </ul>
        </div>

        <div id="toukai" class="map-japan-table-block">
            <div class="search-encounter-title">東海</div>
            <ul>
                <li><a href="#ここにURLを入れてください">愛知県</a></li>
                <li><a href="#ここにURLを入れてください">静岡県</a></li>
                <li><a href="#ここにURLを入れてください">岐阜県</a></li>
                <li><a href="#ここにURLを入れてください">三重県</a></li>
            </ul>
        </div>



        <div id="kansai" class="map-japan-table-block">
            <div class="search-encounter-title">関西</div>
            <ul>
                <li><a href="#ここにURLを入れてください">大阪府</a></li>
                <li><a href="#ここにURLを入れてください">京都府</a></li>
                <li><a href="#ここにURLを入れてください">滋賀県</a></li>
                <li><a href="#ここにURLを入れてください">兵庫県</a></li>
                <li><a href="#ここにURLを入れてください">奈良県</a></li>
                <li><a href="#ここにURLを入れてください">和歌山県</a></li>
            </ul>
        </div>

        <div id="kansai" class="map-japan-table-block">
            <div class="search-encounter-title">四国</div>
            <ul>
                <li><a href="#ここにURLを入れてください">徳島県</a></li>
                <li><a href="#ここにURLを入れてください">香川県</a></li>
                <li><a href="#ここにURLを入れてください">愛媛県</a></li>
                <li><a href="#ここにURLを入れてください">高知県</a></li>
            </ul>
        </div>


        <div id="tyugoku" class="map-japan-table-block">
            <div class="search-encounter-title">
                中国
            </div>
            <ul>
                <li><a href="#ここにURLを入れてください">岡山県</a></li>
                <li><a href="#ここにURLを入れてください">広島県</a></li>
                <li><a href="#ここにURLを入れてください">鳥取県</a></li>
                <li><a href="#ここにURLを入れてください">島根県</a></li>
                <li><a href="#ここにURLを入れてください">山口県</a></li>
            </ul>
        </div>

        <div id="kyusyu" class="map-japan-table-block">
            <div class="search-encounter-title">
                九州
            </div>
            <ul>
                <li><a href="#ここにURLを入れてください">福岡県</a></li>
                <li><a href="#ここにURLを入れてください">大分県</a></li>
                <li><a href="#ここにURLを入れてください">宮城県</a></li>
                <li><a href="#ここにURLを入れてください">鹿児島県</a></li>
                <li><a href="#ここにURLを入れてください">長崎県</a></li>
                <li><a href="#ここにURLを入れてください">佐賀県</a></li>
                <li><a href="#ここにURLを入れてください">熊本県</a></li>
            </ul>
        </div>

        <div id="okinawa" class="map-japan-table-block">
            <div class="search-encounter-title">
                沖縄
            </div>
            <ul>
                <li><a href="#ここにURLを入れてください">沖縄県</a></li>
            </ul>
        </div>
    </div>












</section>

<!-- スマホ用レイアウト -->
<section id="search-encounter-sm">
    <div class="search-encounter-top">
        出会い検索
    </div>

    <div class="search-encounter-block">
        <div class="trg_show_list search-encounter-title arrow-right">
            <b>東京</b>
        </div>      
        <ul>
            <li><a href="#ここにURLを入れてください">新宿区</a></li>
            <li><a href="#ここにURLを入れてください">渋谷区</a></li>
            <li><a href="#ここにURLを入れてください">港区</a></li>
        </ul>
    </div>
    <div class="search-encounter-block">
        <div class="trg_show_list search-encounter-title arrow-right">関東</div>      
        <ul>
            <li><a href="#ここにURLを入れてください">埼玉県</a></li>
            <li><a href="#ここにURLを入れてください">千葉県</a></li>
            <li><a href="#ここにURLを入れてください">茨城県</a></li>
            <li><a href="#ここにURLを入れてください">栃木県</a></li>
            <li><a href="#ここにURLを入れてください">群馬県</a></li>
        </ul>
    </div>
    <div class="search-encounter-block">
        <div class="trg_show_list search-encounter-title arrow-right">北海道</div>      
        <ul>
            <li><a href="#ここにURLを入れてください">北海道</a></li>
        </ul>
    </div>
    <div class="search-encounter-block">
        <div class="trg_show_list search-encounter-title arrow-right">東北</div>
        <ul>
            <li><a href="#ここにURLを入れてください">青森県</a></li>
            <li><a href="#ここにURLを入れてください">秋田県</a></li>
            <li><a href="#ここにURLを入れてください">山形県</a></li>
            <li><a href="#ここにURLを入れてください">岩手県</a></li>
            <li><a href="#ここにURLを入れてください">宮城県</a></li>
            <li><a href="#ここにURLを入れてください">福島県</a></li>
        </ul>
    </div>
    <div class="search-encounter-block">
        <div class="trg_show_list search-encounter-title arrow-right">北陸</div>
        <ul>
            <li><a href="#ここにURLを入れてください">新潟県</a></li>
            <li><a href="#ここにURLを入れてください">富山県</a></li>
            <li><a href="#ここにURLを入れてください">石川県</a></li>
            <li><a href="#ここにURLを入れてください">福井県</a></li>
            <li><a href="#ここにURLを入れてください">山梨県</a></li>
            <li><a href="#ここにURLを入れてください">長野県</a></li>
        </ul>
    </div>
    <div class="search-encounter-block">
        <div class="trg_show_list search-encounter-title arrow-right">東海</div>
        <ul>
            <li><a href="#ここにURLを入れてください">愛知県</a></li>
            <li><a href="#ここにURLを入れてください">静岡県</a></li>
            <li><a href="#ここにURLを入れてください">岐阜県</a></li>
            <li><a href="#ここにURLを入れてください">三重県</a></li>
        </ul>
    </div>

    <div class="search-encounter-block">
        <div class="trg_show_list search-encounter-title arrow-right">関西</div>
        <ul>
            <li><a href="#ここにURLを入れてください">大阪府</a></li>
            <li><a href="#ここにURLを入れてください">京都府</a></li>
            <li><a href="#ここにURLを入れてください">滋賀県</a></li>
            <li><a href="#ここにURLを入れてください">兵庫県</a></li>
            <li><a href="#ここにURLを入れてください">奈良県</a></li>
            <li><a href="#ここにURLを入れてください">和歌山県</a></li>
        </ul>
    </div>

    <div class="search-encounter-block">
        <div class="trg_show_list search-encounter-title arrow-right">四国</div>
        <ul>
            <li><a href="#ここにURLを入れてください">徳島県</a></li>
            <li><a href="#ここにURLを入れてください">香川県</a></li>
            <li><a href="#ここにURLを入れてください">愛媛県</a></li>
            <li><a href="#ここにURLを入れてください">高知県</a></li>
        </ul>
    </div>


    <div class="search-encounter-block">
        <div class="trg_show_list search-encounter-title arrow-right">中国</div>
        <ul>
            <li><a href="#ここにURLを入れてください">岡山県</a></li>
            <li><a href="#ここにURLを入れてください">広島県</a></li>
            <li><a href="#ここにURLを入れてください">鳥取県</a></li>
            <li><a href="#ここにURLを入れてください">島根県</a></li>
            <li><a href="#ここにURLを入れてください">山口県</a></li>
        </ul>
    </div>

    <div class="search-encounter-block">
        <div class="trg_show_list search-encounter-title arrow-right">九州</div>
        <ul>
            <li><a href="#ここにURLを入れてください">福岡県</a></li>
            <li><a href="#ここにURLを入れてください">大分県</a></li>
            <li><a href="#ここにURLを入れてください">宮城県</a></li>
            <li><a href="#ここにURLを入れてください">鹿児島県</a></li>
            <li><a href="#ここにURLを入れてください">長崎県</a></li>
            <li><a href="#ここにURLを入れてください">佐賀県</a></li>
            <li><a href="#ここにURLを入れてください">熊本県</a></li>
        </ul>
    </div>

    <div class="search-encounter-block">
        <div class="trg_show_list search-encounter-title arrow-right">沖縄</div>
        <ul>
            <a href="#ここにURLを入れてください"><li>沖縄県</a></li>
        </ul>
    </div>
</section>

