<!-- PC用レイアウト -->
<section id="pc-view">
    <div class="bk-japan-map">
        <div id="kanto" class="trg_show_list pc-map-child">
            <div class="pc-map-child-title"><b>関東</b></div>
            <ul class="ul-1">
                <li>
                    <div class="trg_ul_2">東京</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/2813">銀座</a></li>
                        <li><a href="https://datumo.me/959">渋谷</a></li>
                        <li><a href="https://datumo.me/4107">立川</a></li>
                        <li><a href="https://datumo.me/3953">新宿</a></li>
                        <li><a href="https://datumo.me/4035">錦糸町</a></li>
                        <li><a href="https://datumo.me/1147">池袋</a></li>
                        <li><a href="https://datumo.me/4130">亀有</a></li>
                        <li><a href="https://datumo.me/2741">吉祥寺</a></li>
                    </ul>
                </li>
                <li>
                    <div class="trg_ul_2">埼玉</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/1176">埼玉</a></li>
                    </ul>
                </li>
                <li>
                    <div class="trg_ul_2">千葉</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/902">千葉</a></li>
                        <li><a href="https://datumo.me/4352">柏</a></li>
                    </ul>
                </li>
                <li>
                    <div class="trg_ul_2">栃木</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/2159">宇都宮</a></li>
                    </ul>
                </li>
                <li>
                    <div class="trg_ul_2">群馬</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/2161">高崎市</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- 北海道エリア -->
        <div id="hokkaido" class="trg_show_list pc-map-child">
            <div class="pc-map-child-title"><b>北海道</b></div>

            <ul class="ul-1">
                <li><a href="https://datumo.me/876">札幌市</a></li>
                <li><a href="https://datumo.me/2952">旭川市</a></li>
                <li><a href="https://datumo.me/5708">函館市</a></li>           
            </ul>
        </div>

        <!-- 東北touhokuエリア -->
        <div id="touhoku" class="trg_show_list pc-map-child">
            <div class="pc-map-child-title"><b>東北</b></div>
            <ul class="ul-1">
                <li>
                    <div class="trg_ul_2">岩手</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/1986">盛岡市</a></li>
                    </ul>
                </li>
                <li>
                    <div class="trg_ul_2">宮城</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/2997">仙台市</a></li>
                    </ul>
                </li>
                <li>
                    <div class="trg_ul_2">福島</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/2036">郡山市</a></li>
                    </ul>
                </li>
            </ul>
        </div>



        <!-- 北陸エリア -->
        <div id="hokuriku" class="trg_show_list pc-map-child">
            <div class="pc-map-child-title"><b>北陸</b></div>
            <ul class="ul-1">
                <li>
                    <div class="trg_ul_2">新潟</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/1885">新潟市</a></li>
                    </ul>
                </li>
            </ul>
        </div>


        <!-- 東海エリア -->
        <div id="toukai" class="trg_show_list pc-map-child">
            <div class="pc-map-child-title"><b>東海</b></div>

            <ul class="ul-1">
                <li>
                    <div class="trg_ul_2">愛知</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/1887">名古屋</a></li>
                    </ul>
                </li>
                <li>
                    <div class="trg_ul_2">静岡</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/1726">静岡市</a></li>
                    </ul>
                </li>
                <li>
                    <div class="trg_ul_2">岐阜</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/2244">岐阜市</a></li>
                    </ul>
                </li>
            </ul>
        </div>




        <div id="kansai" class="trg_show_list pc-map-child">
            <div class="pc-map-child-title"><b>関西</b></div>
            <ul class="ul-1">
                <li>
                    <div class="trg_ul_2">大阪</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/2866">梅田</a></li>
                        <li><a href="https://datumo.me/3093">天王寺</a></li>
                    </ul>
                </li>

                <li>
                    <div class="trg_ul_2">京都</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/1126">京都</a></li>
                    </ul>
                </li>
                
                <li>
                    <div class="trg_ul_2">兵庫</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/1296">兵庫</a></li>
                    </ul>
                </li>

            </ul>
        </div>



        <div id="sikoku" class="trg_show_list pc-map-child">
            <div class="pc-map-child-title"><b>四国</b></div>
            <ul class="ul-1">
                <li>
                    <div class="trg_ul_2">香川</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/1723">高松市</a></li>
                    </ul>
                </li>
            </ul>
        </div>


        <div id="tyugoku" class="trg_show_list pc-map-child">
            <div class="pc-map-child-title"><b>中国</b></div>
            <ul class="ul-1">
                <li>
                    <div class="trg_ul_2">広島</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/1716">広島市</a></li>
                    </ul>
                </li>
            </ul>
        </div>



        <div id="kyusyu" class="trg_show_list pc-map-child">
            <div class="pc-map-child-title"><b>九州</b></div>
            <ul class="ul-1">
                <li>
                    <div class="trg_ul_2">大分</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/4195">大分市</a></li>
                    </ul>
                </li>
                <li>
                    <div class="trg_ul_2">宮崎</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/1465">宮崎市</a></li>
                    </ul>
                </li>
                <li>
                    <div class="trg_ul_2">鹿児島</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/1469">鹿児島市</a></li>
                    </ul>
                </li>
                <li>
                    <div class="trg_ul_2">熊本</div>
                    <ul class="ul-2">
                        <li><a href="https://datumo.me/1408">熊本市</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- 沖縄エリア -->
        <div id="okinawa" class="trg_show_list pc-map-child">
            <div class="pc-map-child-title"><b>沖縄</b></div>

            <ul class="ul-1">
                <li><a href="https://datumo.me/1561">那覇市</a></li>
            </ul>
        </div>
    </div>
</section>


<!-- スマホ用レイアウト -->
<section id="sm-view">
    <div class="sm-search-block">サロン検索</div>
    <div id="kanto" class="sm-map-child">
        <div class="sm-map-child-title arrow-right sm_trg_ul_1"><b>関東</b></div>
        <ul class="ul-1" style="display: none;">
            <li>
                <div>東京</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/2813">銀座</a></li>
                    <li><a href="https://datumo.me/959">渋谷</a></li>
                    <li><a href="https://datumo.me/4107">立川</a></li>
                    <li><a href="https://datumo.me/3953">新宿</a></li>
                    <li><a href="https://datumo.me/4035">錦糸町</a></li>
                    <li><a href="https://datumo.me/1147">池袋</a></li>
                    <li><a href="https://datumo.me/4130">亀有</a></li>
                    <li><a href="https://datumo.me/2741">吉祥寺</a></li>
                </ul>
            </li>
            <li>
                <div>埼玉</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/1176">埼玉</a></li>
                </ul>
            </li>
            <li>
                <div>千葉</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/902">千葉</a></li>
                    <li><a href="https://datumo.me/4352">柏</a></li>
                </ul>
            </li>
            <li>
                <div>栃木</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/2159">宇都宮</a></li>
                </ul>
            </li>
            <li>
                <div>群馬</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/2161">高崎市</a></li>
                </ul>
            </li>

        </ul>
    </div>



    <div id="hokkaido" class="sm-map-child">
        <div class="sm-map-child-title arrow-right sm_trg_ul_1"><b>北海道</b></div>
        <ul class="ul-1" style="display: none;">
            <li>
                <div>北海道</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/876">札幌市</a></li>
                    <li><a href="https://datumo.me/2952">旭川市</a></li>
                    <li><a href="https://datumo.me/5708">函館市</a></li>
                </ul>
            </li>
        </ul>
    </div>




    <div id="touhoku" class="sm-map-child">
        <div class="sm-map-child-title arrow-right sm_trg_ul_1"><b>東北</b></div>
        <ul class="ul-1" style="display: none;">
            <li>
                <div>岩手</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/1986">盛岡市</a></li>
                </ul>
            </li>

            <li>
                <div>宮城</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/2997">仙台市</a></li>
                </ul>
            </li>

            <li>
                <div>福島</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/2036">郡山市</a></li>
                </ul>
            </li>
        </ul>
    </div>


    <div id="hokuriku" class="sm-map-child">
        <div class="sm-map-child-title arrow-right sm_trg_ul_1"><b>北陸</b></div>
        <ul class="ul-1" style="display: none;">
            <li>
                <div>新潟</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/1885">新潟市</a></li>
                </ul>
            </li>
        </ul>
    </div>


    <div id="hokuriku" class="sm-map-child">
        <div class="sm-map-child-title arrow-right sm_trg_ul_1"><b>東海</b></div>
        <ul class="ul-1" style="display: none;">
            <li>
                <div>愛知</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/1887">名古屋</a></li>
                </ul>
            </li>
            <li>
                <div>静岡</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/1726">静岡市</a></li>
                </ul>
            </li>
            <li>
                <div>岐阜</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/2244">岐阜市</a></li>
                </ul>
            </li>
        </ul>
    </div>


    <div id="kansai" class="sm-map-child">
        <div class="sm-map-child-title arrow-right sm_trg_ul_1"><b>関西</b></div>
        <ul class="ul-1" style="display: none;">
            <li>
                <div>大阪</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/2866">梅田</a></li>
                    <li><a href="https://datumo.me/3093">天王寺</a></li>
                </ul>
            </li>

            <li>
                <div>京都</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/1126">京都</a></li>
                </ul>
            </li>

            <li>
                <div>兵庫</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/1296">兵庫</a></li>
                </ul>
            </li>
        </ul>
    </div>



    <div id="sikoku" class="sm-map-child">
        <div class="sm-map-child-title arrow-right sm_trg_ul_1"><b>四国</b></div>
        <ul class="ul-1" style="display: none;">
            <li>
                <div>香川</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/1723">高松市</a></li>
                </ul>
            </li>
        </ul>
    </div>



    <div id="tyugoku" class="sm-map-child">
        <div class="sm-map-child-title arrow-right sm_trg_ul_1"><b>中国</b></div>
        <ul class="ul-1" style="display: none;">
            <li>
                <div>広島</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/1716">広島市</a></li>
                </ul>
            </li>
        </ul>
    </div>



    <div id="kyusyu" class="sm-map-child">
        <div class="sm-map-child-title arrow-right sm_trg_ul_1"><b>九州</b></div>
        <ul class="ul-1" style="display: none;">
            <li>
                <div>大分</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/4195">大分市</a></li>
                </ul>
            </li>
            <li>
                <div>宮崎</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/1465">宮崎市</a></li>
                </ul>
            </li>
            <li>
                <div>鹿児島</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/1469">鹿児島市</a></li>
                </ul>
            </li>
            <li>
                <div>熊本</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/1408">熊本市</a></li>
                </ul>
            </li>
        </ul>
    </div>


    <div id="okinawa" class="sm-map-child">
        <div class="sm-map-child-title arrow-right sm_trg_ul_1"><b>沖縄</b></div>
        <ul class="ul-1" style="display: none;">
            <li>
                <div>沖縄</div>
                <ul class="ul-2">
                    <li><a href="https://datumo.me/1561">那覇市</a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>

