<div id="messages-show">
	<div class="container">

		<!-- PC用レイアウト -->
		<section id="search-encounter-pc">
			<div class="bk-japan-map" >
				<div id="tokyo" class="trg_show_list search-encounter-block">
					<div class="search-encounter-title">
						<h3 class="bold"><b>東京</b></h3>
					</div>		
					<ul>
						<a href="#ここにURLを入れてください"><li>新宿区</li></a>
						<a href="#ここにURLを入れてください"><li>渋谷区</li></a>
						<a href="#ここにURLを入れてください"><li>港区</li></a>
					</ul>
				</div>

				<div id="kanto" class="trg_show_list search-encounter-block">
					<div class="search-encounter-title">
						<h3>関東</h3>
					</div>		
					<ul>
						<a href="#ここにURLを入れてください"><li>埼玉県</li></a>
						<a href="#ここにURLを入れてください"><li>千葉県</li></a>
						<a href="#ここにURLを入れてください"><li>茨城県</li></a>
						<a href="#ここにURLを入れてください"><li>栃木県</li></a>
						<a href="#ここにURLを入れてください"><li>群馬県</li></a>
					</ul>
				</div>

				<div id="hokkaido" class="trg_show_list search-encounter-block">
					<div class="search-encounter-title">
						<h3>北海道</h3>
					</div>		
					<ul>
						<a href="#ここにURLを入れてください"><li>北海道</li></a>
					</ul>
				</div>
				
				<div id="touhoku" class="trg_show_list search-encounter-block">
					<div class="search-encounter-title">
						<h3>東北</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>青森県</li></a>
						<a href="#ここにURLを入れてください"><li>秋田県</li></a>
						<a href="#ここにURLを入れてください"><li>山形県</li></a>
						<a href="#ここにURLを入れてください"><li>岩手県</li></a>
						<a href="#ここにURLを入れてください"><li>宮城県</li></a>
						<a href="#ここにURLを入れてください"><li>福島県</li></a>
					</ul>
				</div>

				<div id="hokuriku" class="trg_show_list search-encounter-block">
					<div class="search-encounter-title">
						<h3>北陸</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>新潟県</li></a>
						<a href="#ここにURLを入れてください"><li>富山県</li></a>
						<a href="#ここにURLを入れてください"><li>石川県</li></a>
						<a href="#ここにURLを入れてください"><li>福井県</li></a>
						<a href="#ここにURLを入れてください"><li>山梨県</li></a>
						<a href="#ここにURLを入れてください"><li>長野県</li></a>
					</ul>
				</div>

				<div id="toukai" class="trg_show_list search-encounter-block">
					<div class="search-encounter-title">
						<h3>東海</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>愛知県</li></a>
						<a href="#ここにURLを入れてください"><li>静岡県</li></a>
						<a href="#ここにURLを入れてください"><li>岐阜県</li></a>
						<a href="#ここにURLを入れてください"><li>三重県</li></a>
					</ul>
				</div>

				<div id="kansai" class="trg_show_list search-encounter-block">
					<div class="search-encounter-title">
						<h3>関西</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>大阪府</li></a>
						<a href="#ここにURLを入れてください"><li>京都府</li></a>
						<a href="#ここにURLを入れてください"><li>滋賀県</li></a>
						<a href="#ここにURLを入れてください"><li>兵庫県</li></a>
						<a href="#ここにURLを入れてください"><li>奈良県</li></a>
						<a href="#ここにURLを入れてください"><li>和歌山県</li></a>
					</ul>
				</div>

				<div id="sikoku" class="trg_show_list search-encounter-block">
					<div class="search-encounter-title">
						<h3>四国</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>徳島県</li></a>
						<a href="#ここにURLを入れてください"><li>香川県</li></a>
						<a href="#ここにURLを入れてください"><li>愛媛県</li></a>
						<a href="#ここにURLを入れてください"><li>高知県</li></a>
					</ul>
				</div>


				<div id="tyugoku" class="trg_show_list search-encounter-block">
					<div class="search-encounter-title">
						<h3>中国</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>岡山県</li></a>
						<a href="#ここにURLを入れてください"><li>広島県</li></a>
						<a href="#ここにURLを入れてください"><li>鳥取県</li></a>
						<a href="#ここにURLを入れてください"><li>島根県</li></a>
						<a href="#ここにURLを入れてください"><li>山口県</li></a>
					</ul>
				</div>

				<div id="kyusyu" class="trg_show_list search-encounter-block">
					<div class="search-encounter-title">
						<h3>九州</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>福岡県</li></a>
						<a href="#ここにURLを入れてください"><li>大分県</li></a>
						<a href="#ここにURLを入れてください"><li>宮城県</li></a>
						<a href="#ここにURLを入れてください"><li>鹿児島県</li></a>
						<a href="#ここにURLを入れてください"><li>長崎県</li></a>
						<a href="#ここにURLを入れてください"><li>佐賀県</li></a>
						<a href="#ここにURLを入れてください"><li>熊本県</li></a>
					</ul>
				</div>

				<div id="okinawa" class="trg_show_list search-encounter-block">
					<div class="search-encounter-title">
						<h3>沖縄</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>沖縄県</li></a>
					</ul>
				</div>
			</div>

			<div class="map-japan-table">
				<div id="tokyo" class="map-japan-table-block">
					<div class="search-encounter-title">
						<h3 class="bold"><b>東京</b></h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>新宿区</li></a>
						<a href="#ここにURLを入れてください"><li>渋谷区</li></a>
						<a href="#ここにURLを入れてください"><li>港区</li></a>
					</ul>
				</div>

				<div id="kanto" class="map-japan-table-block">
					<div class="search-encounter-title">
						<h3>関東</h3>
					</div>		
					<ul>
						<a href="#ここにURLを入れてください"><li>埼玉県</li></a>
						<a href="#ここにURLを入れてください"><li>千葉県</li></a>
						<a href="#ここにURLを入れてください"><li>茨城県</li></a>
						<a href="#ここにURLを入れてください"><li>栃木県</li></a>
						<a href="#ここにURLを入れてください"><li>群馬県</li></a>
					</ul>
				</div>

				<div id="hokkaido" class="map-japan-table-block">
					<div class="search-encounter-title">
						<h3>北海道</h3>
					</div>		
					<ul>
						<a href="#ここにURLを入れてください"><li>北海道</li></a>
					</ul>
				</div>
				
				<div id="touhoku" class="map-japan-table-block">
					<div class="search-encounter-title">
						<h3>東北</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>青森県</li></a>
						<a href="#ここにURLを入れてください"><li>秋田県</li></a>
						<a href="#ここにURLを入れてください"><li>山形県</li></a>
						<a href="#ここにURLを入れてください"><li>岩手県</li></a>
						<a href="#ここにURLを入れてください"><li>宮城県</li></a>
						<a href="#ここにURLを入れてください"><li>福島県</li></a>
					</ul>
				</div>

				<div id="hokuriku" class="map-japan-table-block">
					<div class="search-encounter-title">
						<h3>北陸</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>新潟県</li></a>
						<a href="#ここにURLを入れてください"><li>富山県</li></a>
						<a href="#ここにURLを入れてください"><li>石川県</li></a>
						<a href="#ここにURLを入れてください"><li>福井県</li></a>
						<a href="#ここにURLを入れてください"><li>山梨県</li></a>
						<a href="#ここにURLを入れてください"><li>長野県</li></a>
					</ul>
				</div>

				<div id="toukai" class="map-japan-table-block">
					<div class="search-encounter-title">
						<h3>東海</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>愛知県</li></a>
						<a href="#ここにURLを入れてください"><li>静岡県</li></a>
						<a href="#ここにURLを入れてください"><li>岐阜県</li></a>
						<a href="#ここにURLを入れてください"><li>三重県</li></a>
					</ul>
				</div>

				<div id="kansai" class="map-japan-table-block">
					<div class="search-encounter-title">
						<h3>関西</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>大阪府</li></a>
						<a href="#ここにURLを入れてください"><li>京都府</li></a>
						<a href="#ここにURLを入れてください"><li>滋賀県</li></a>
						<a href="#ここにURLを入れてください"><li>兵庫県</li></a>
						<a href="#ここにURLを入れてください"><li>奈良県</li></a>
						<a href="#ここにURLを入れてください"><li>和歌山県</li></a>
					</ul>
				</div>

				<div id="sikoku" class="map-japan-table-block">
					<div class="search-encounter-title">
						<h3>四国</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>徳島県</li></a>
						<a href="#ここにURLを入れてください"><li>香川県</li></a>
						<a href="#ここにURLを入れてください"><li>愛媛県</li></a>
						<a href="#ここにURLを入れてください"><li>高知県</li></a>
					</ul>
				</div>


				<div id="tyugoku" class="map-japan-table-block">
					<div class="search-encounter-title">
						<h3>中国</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>岡山県</li></a>
						<a href="#ここにURLを入れてください"><li>広島県</li></a>
						<a href="#ここにURLを入れてください"><li>鳥取県</li></a>
						<a href="#ここにURLを入れてください"><li>島根県</li></a>
						<a href="#ここにURLを入れてください"><li>山口県</li></a>
					</ul>
				</div>

				<div id="kyusyu" class="map-japan-table-block">
					<div class="search-encounter-title">
						<h3>九州</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>福岡県</li></a>
						<a href="#ここにURLを入れてください"><li>大分県</li></a>
						<a href="#ここにURLを入れてください"><li>宮城県</li></a>
						<a href="#ここにURLを入れてください"><li>鹿児島県</li></a>
						<a href="#ここにURLを入れてください"><li>長崎県</li></a>
						<a href="#ここにURLを入れてください"><li>佐賀県</li></a>
						<a href="#ここにURLを入れてください"><li>熊本県</li></a>
					</ul>
				</div>

				<div id="okinawa" class="map-japan-table-block">
					<div class="search-encounter-title">
						<h3>沖縄</h3>
					</div>
					<ul>
						<a href="#ここにURLを入れてください"><li>沖縄県</li></a>
					</ul>
				</div>				
				
			</div>





		</section>

		<!-- スマホ用レイアウト -->
		<section id="search-encounter-sm">
			<div class="search-encounter-top">
				<p>出会い検索</p>
			</div>

			<div class="search-encounter-block">
				<div class="trg_show_list search-encounter-title arrow-right">
					<h3 class="bold"><b>東京</b></h3>
				</div>		
				<ul>
					<a href="#ここにURLを入れてください"><li>新宿区</li></a>
					<a href="#ここにURLを入れてください"><li>渋谷区</li></a>
					<a href="#ここにURLを入れてください"><li>港区</li></a>
				</ul>
			</div>
			<div class="search-encounter-block">
				<div class="trg_show_list search-encounter-title arrow-right">
					<h3>関東</h3>
				</div>		
				<ul>
					<a href="#ここにURLを入れてください"><li>埼玉県</li></a>
					<a href="#ここにURLを入れてください"><li>千葉県</li></a>
					<a href="#ここにURLを入れてください"><li>茨城県</li></a>
					<a href="#ここにURLを入れてください"><li>栃木県</li></a>
					<a href="#ここにURLを入れてください"><li>群馬県</li></a>
				</ul>
			</div>
			<div class="search-encounter-block">
				<div class="trg_show_list search-encounter-title arrow-right">
					<h3>北海道</h3>
				</div>		
				<ul>
					<a href="#ここにURLを入れてください"><li>北海道</li></a>
				</ul>
			</div>
			<div class="search-encounter-block">

				<div class="trg_show_list search-encounter-title arrow-right">
					<h3>東北</h3>
				</div>
				<ul>
					<a href="#ここにURLを入れてください"><li>青森県</li></a>
					<a href="#ここにURLを入れてください"><li>秋田県</li></a>
					<a href="#ここにURLを入れてください"><li>山形県</li></a>
					<a href="#ここにURLを入れてください"><li>岩手県</li></a>
					<a href="#ここにURLを入れてください"><li>宮城県</li></a>
					<a href="#ここにURLを入れてください"><li>福島県</li></a>
				</ul>
			</div>
			<div class="search-encounter-block">
				<div class="trg_show_list search-encounter-title arrow-right">
					<h3>北陸</h3>
				</div>
				<ul>
					<a href="#ここにURLを入れてください"><li>新潟県</li></a>
					<a href="#ここにURLを入れてください"><li>富山県</li></a>
					<a href="#ここにURLを入れてください"><li>石川県</li></a>
					<a href="#ここにURLを入れてください"><li>福井県</li></a>
					<a href="#ここにURLを入れてください"><li>山梨県</li></a>
					<a href="#ここにURLを入れてください"><li>長野県</li></a>
				</ul>
			</div>
			<div class="search-encounter-block">
				<div class="trg_show_list search-encounter-title arrow-right">
					<h3>東海</h3>
				</div>
				<ul>
					<a href="#ここにURLを入れてください"><li>愛知県</li></a>
					<a href="#ここにURLを入れてください"><li>静岡県</li></a>
					<a href="#ここにURLを入れてください"><li>岐阜県</li></a>
					<a href="#ここにURLを入れてください"><li>三重県</li></a>
				</ul>
			</div>

			<div class="search-encounter-block">

				<div class="trg_show_list search-encounter-title arrow-right">
					<h3>関西</h3>
				</div>
				<ul>
					<a href="#ここにURLを入れてください"><li>大阪府</li></a>
					<a href="#ここにURLを入れてください"><li>京都府</li></a>
					<a href="#ここにURLを入れてください"><li>滋賀県</li></a>
					<a href="#ここにURLを入れてください"><li>兵庫県</li></a>
					<a href="#ここにURLを入れてください"><li>奈良県</li></a>
					<a href="#ここにURLを入れてください"><li>和歌山県</li></a>
				</ul>
			</div>

			<div class="search-encounter-block">

				<div class="trg_show_list search-encounter-title arrow-right">
					<h3>四国</h3>
				</div>
				<ul>
					<a href="#ここにURLを入れてください"><li>徳島県</li></a>
					<a href="#ここにURLを入れてください"><li>香川県</li></a>
					<a href="#ここにURLを入れてください"><li>愛媛県</li></a>
					<a href="#ここにURLを入れてください"><li>高知県</li></a>
				</ul>
			</div>


			<div class="search-encounter-block">
				<div class="trg_show_list search-encounter-title arrow-right">
					<h3>中国</h3>
				</div>
				<ul>
					<a href="#ここにURLを入れてください"><li>岡山県</li></a>
					<a href="#ここにURLを入れてください"><li>広島県</li></a>
					<a href="#ここにURLを入れてください"><li>鳥取県</li></a>
					<a href="#ここにURLを入れてください"><li>島根県</li></a>
					<a href="#ここにURLを入れてください"><li>山口県</li></a>
				</ul>
			</div>

			<div class="search-encounter-block">

				<div class="trg_show_list search-encounter-title arrow-right">
					<h3>九州</h3>
				</div>
				<ul>
					<a href="#ここにURLを入れてください"><li>福岡県</li></a>
					<a href="#ここにURLを入れてください"><li>大分県</li></a>
					<a href="#ここにURLを入れてください"><li>宮城県</li></a>
					<a href="#ここにURLを入れてください"><li>鹿児島県</li></a>
					<a href="#ここにURLを入れてください"><li>長崎県</li></a>
					<a href="#ここにURLを入れてください"><li>佐賀県</li></a>
					<a href="#ここにURLを入れてください"><li>熊本県</li></a>
				</ul>
			</div>

			<div class="search-encounter-block">
				<div class="trg_show_list search-encounter-title arrow-right">
					<h3>沖縄</h3>
				</div>
				<ul>
					<a href="#ここにURLを入れてください"><li>沖縄県</li></a>
				</ul>
			</div>
		</section>

	</div>
</div>
