<%= form_with(model: foot_print, local: true) do |form| %>
  <% if foot_print.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foot_print.errors.count, "error") %> prohibited this foot_print from being saved:</h2>

      <ul>
      <% foot_print.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
