<%= form_with(model: enquete, local: true) do |form| %>
  <% if enquete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enquete.errors.count, "error") %> prohibited this enquete from being saved:</h2>

      <ul>
      <% enquete.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
