.fs18 {
	font-size: 18px;
}
.width-auto {
	width: auto !important;
}
.width-100 {
	width: 100%;
}
.margin-bottom-8px {
	margin-bottom: 8px;
}
.display-none {
	display: none;
}

h1 {
	position: relative;
	color: #333;
	margin: 47px 0 63px;
	text-shadow: 0 0 2px white;
	font-size: 18px;
}

h1:before {
	content: "";
	position: absolute;
	background: #B3D4FC;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	top: 50%;
	left: 86px;
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: -1;
}

select {
	height: 32px;
	padding: 8px 12px;
	border-radius: 3px;
	background-color: #f0f1f2;
	border: none;
	cursor: pointer;
	color: #333
}


//Override global navi
.navbar-default {
	height: 80px;

	.navbar-nav > li > a {
		color: #7f7f7f;
		line-height: 80px;
		padding: 0px 16px;
	}
	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus {
		color: #E8001F;
	}
}

//for Messages
.notice, #error_explanation {
	padding: 16px;
	width: 700px;
	margin: 0 auto;
	background-color: rgba(255,53,80,0.2);
	h2 {
		padding: 4px 0px;
	}
}

//for button style
.actions{
	text-align: right;
	padding-top: 16px;
	padding-right: 8px;
	width: 700px;
	margin: 0 auto;
	display: table;
	input {
		height: 32px;
		padding: 8px 12px;
		border-radius: 3px;
		background-color: #E8001F;
		border: none;
		cursor: pointer;
		color: #fff;
	}
}
.button_area {
	width: 700px;
	margin: 0 auto;

	.original_button{
		width: 60px;
		display : table-cell;
		a {
			height: 32px;
			padding: 8px 12px;
			border-radius: 3px;
			border: none;
			cursor: pointer;
			color: #fff;
			background-color: #E8001F;
		}
	}
}