// Place all the styles related to the parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#paties-index {
	.paties-list {
		li {
			width: 600px;
			height: 300px;
			margin: 0 auto 16px;
			position: relative;
			border: solid 2px #ddd;
		}
	}

	#search-party {
		width: 750px;
		margin: 0 auto 30px;
		border: 1px solid #ddd;
		border-radius: 2px;
		
		ul.search-party-list {
			li {
				padding: 14px 6px;
				border-bottom: 1px solid #ddd;
			}
		}

		.title {
			background: #F0EACF;
			padding: 8px;

			.icon-search {
				width: 20px;
				display: inline-block;			
			}
		}
		h3 {
			display: inline-block;
			position: relative;
			bottom: 3px;
		}
	}
}
#paties-new, #paties-edit {
	ul#party-form {
		padding-top: 30px;
		h3 {
			padding-bottom: 3px;
		}
		li {
			margin-bottom: 16px;
		}
	}
}

