// Place all the styles related to the parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#paties-index {
	section#paties-list {
		ul {
			li {
				width: 720px;
				margin: 0 auto 16px;
				position: relative;
				border: solid 2px #ddd;
			}
		}
		.party-title {
			font-size: 26px;
			padding-left: 8px;
		}
		.party-detail {
			padding: 10px;
		}
		.party-thumb {
			width: 40%;
			float: left;
		}
		.party-detail-left {
			float: left;
			width: 58%;
			margin-left: 2%;
		}
		.participant-list {
			margin-top: 20px;
			p {
				padding-bottom: 5px;
				position: relative;
				left: 30px;
			}
			p:first-child {
				margin-top: 5px;
			}
			.participant-list-title {
				margin-bottom: 8px;
				text-align: center;
				font-size: 18px;
			}

			.participant-list-man, .participant-list-woman {
				float: left;
				width: 50%;
				text-align: left;
			}
			.participant-list-man {
				border-left: 2px solid blue;
			}
			.participant-list-woman {
				border-left: 2px solid pink;
			}	
			p:before {
				content: "";
				width: 16px;
				height: 16px;
				position: absolute;
				left: -20px;
				top: 0;
			}

			.participant-list-man p:before {
				background: image-url("icons/icon_man") no-repeat center center / 100% 100%;
			}
			.participant-list-woman p:before {
				background: image-url("icons/icon_woman") no-repeat center center / 100% 100%;
			}
		}

		table {
			width: 100%;
			border-collapse: collapse;
			text-align: left;
			line-height: 1.5;
		}
		table th {
			font-weight: normal;
			padding: 8px;
			border: 1px solid #ccc;
		}
		table td {
			padding: 8px;
			font-weight: normal;
			border: 1px solid #ccc;
		}
	}

	section#search-party {
		width: 750px;
		margin: 0 auto 30px;
		border: 1px solid #ddd;
		border-radius: 2px;
		
		.title {
			background: #F0EACF;
			padding: 8px;

			.icon-search {
				width: 20px;
				display: inline-block;			
			}
		}
		table {
			th {
				width: 70px;
			}
		}
		h3 {
			display: inline-block;
			position: relative;
			bottom: 3px;
		}
		table td, table th {
			vertical-align: middle;
		}
		.table {
			margin-bottom: 0;
		}
	}
	.event-date p {
		margin: 8px 8px 0 ;

	}
	.venue-type label {
		margin-right: 8px;
	}
}
#parties-form {
	.table-bordered {
		width: 700px;
		margin: 0 auto;
		th {
			vertical-align: middle;
		}
	}



}

