// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profiles-form {
	.profiles-left {
		float: left;
		border: 1px solid #ddd;
		width: 200px;
		margin-right: 20px;
		
		.my-thumb {
			width: 150px;
		}
	}

	.profiles-right {
		float: left;
		.contents-title {
			background: #ff3366;
			color: #fff;
			padding: 8px;
		}
		.form-table {
			border-collapse: collapse;
			text-align: left;
			line-height: 1.5;

			th {
				padding: 10px;
				width: 20%;
				font-weight: bold;
				vertical-align: middle;
				border: 1px solid #ccc;
			}
			td {
				width: 80%;
				padding: 0 10px;
				vertical-align: middle;
				border: 1px solid #ccc;
			}
		}
		.address {
			.form-control, span {
				float: left;
			}
			span {
				position: relative;
				top: 8px;
				margin: 0 4px;
			}
			.zip31 {
				width: 50px;
			}
			.zip32 {
				width: 60px;
			}
			.pref31 {
				width: 100px;
			}
			.pref31 {
				width: 100px;
			}
		}
		.free-days {
			label {
				margin-right: 8px;
				cursor: pointer;
			}
		}
	}
}